---
import { blogEntries, blogEntryUrl } from '$lib/blog';

import Page from '$layouts/Page.astro';

import TagList from '$components/TagList.astro';
import Search from '$components/Search.astro';

import FormattedDate from '$components/FormattedDate.astro';

import '$styles/IndexPostList.css';

const posts = (await blogEntries()).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<Page>
  <main>
    <p class="my-4">Guess what, this is my blog.</p>
    <section>
      <ul class="m-0 flex flex-col flex-wrap gap-1">
        {
          posts.map((post) => (
            <li class="block m-0">
              <h1 class="text-3xl mt-6 mb-4">
                <a href={blogEntryUrl(post)}>{post.data.title}</a>
              </h1>

              <p class="my-4 text-sm italic">Published <FormattedDate date={post.data.published} /></p>

              <ul class="text-sm m-0 flex flex-wrap gap-1">
                {post.data.tags !== undefined && post.data.tags.map(tag => (
                  <li class="m-0">
                    <a href={`/tags/${tag.toLowerCase()}`} class="bg-gray-200 rounded-xs px-1">{tag}</a>
                  </li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Page>
