---
import { type BlogEntry, type BlogMeta, blogEntryUrl } from '$lib/blog';

import { renderToHTML } from "astro-typst/src/lib/typst";

import FormattedDate from '$components/FormattedDate.astro';
import TagList from '$components/TagList.astro';

type Post = (
  { post: BlogEntry; link: true; } |
  { post: BlogMeta; link?: false; }
);

type Props = Post & {
  showEdited?: boolean;
  showExcerpt?: boolean;
};

const {
  post,
  link,
  showEdited = false,
  showExcerpt = false,
} = Astro.props;

const data: BlogMeta = link? post.data : post;

const excerpt = (data.excerpt && showExcerpt) ? (await renderToHTML({ mainFileContent: data.excerpt, body: true }, null)).html : null;
---

<h1 class="text-3xl mt-6 mb-4">
  {link && <a href={blogEntryUrl(post)}>{data.title}</a>}
  {!link && data.title}
</h1>

<p class="my-4 text-sm italic">
  Published <FormattedDate date={data.published} />
  {showEdited && data.edited !== undefined && (
    <Fragment> &centerdot; Last edited <FormattedDate date={data.edited} /></Fragment>
  )}
</p>

{excerpt && (
  <div class="prose max-w-none" set:html={excerpt} />
)}

<TagList tags={data.tags} />
