---
import { type BlogEntry, type BlogMeta, blogEntryUrl } from '$lib/blog';

import FormattedDate from '$components/FormattedDate.astro';
import TagList from '$components/TagList.astro';

type Post = (
  { post: BlogEntry; link: true; } |
  { post: BlogMeta; link?: false; }
);

type Props = Post & {
  showEdited?: boolean;
  showExcerpt?: boolean;
};

const {
  post,
  link,
  showEdited = false,
  showExcerpt = false,
} = Astro.props;

const data: BlogMeta = link? post.data : post;
---

<h1 class="text-3xl mt-6 mb-4">
  {link && <a href={blogEntryUrl(post)}>{data.title}</a>}
  {!link && data.title}
</h1>

<p class="my-4 text-sm italic">
  Published <FormattedDate date={data.published} />
  {showEdited && data.edited !== undefined && (
    <Fragment> &centerdot; Last edited <FormattedDate date={data.edited} /></Fragment>
  )}
</p>

{data.excerpt && showExcerpt && (
  <p class="my-2">
    {data.excerpt}
  </p>
)}

<TagList tags={data.tags} />
