---
import { type BlogMeta } from '$lib/blog';

import Page from '$layouts/Page.astro';

import FormattedDate from '$components/FormattedDate.astro';
import TagList from '$components/TagList.astro';

type Props = BlogMeta;

const { title, author, description, published, edited, tags, heroImage } = Astro.props;
---

<Page title={title} description={description}>
  <style>
    .title {
      margin-bottom: 1em;
      padding: 1em 0;
      text-align: center;
      line-height: 1;
    }
    .title h1 {
      margin: 0 0 0.5em 0;
    }
  </style>
  <main>
    <article>
      <h1 class="text-3xl mt-6 mb-4">{title}</h1>

      <p class="my-4 text-sm italic">
        Published <FormattedDate date={published} />
        {edited !== undefined && (
          <Fragment> &centerdot; Last edited <FormattedDate date={edited} /></Fragment>
        )}
      </p>

      <TagList {tags} />

      <div>
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
      </div>

      <div class="prose max-w-none">
        <slot />
      </div>
    </article>
  </main>
</Page>
